
@keyframes fade {
  
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-point-6 {
  
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.6;
  }
}

@keyframes pop-in {
  
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rotate-flip {
  
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes spin {
  
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}