@import url(//db.onlinewebfonts.com/c/4aa3e37e571255737e5e6d4e9d9770a5?family=Rockwell);

.App {
  font-family: "Rockwell";
  color: white;
}

html, body {
  
  height: 100%;
  margin: 0;
  padding: 0;
}