@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.card {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.card-collapsed {
  grid-template-areas: "img title chev";
}

.card-expanded {
  grid-template-areas:
    "title title chev "
    "desc  desc  desc "
    "img   img   img  "
    "dtail dtail dtail"
    "car   car   car  "
    "car   car   car  ";
}

.card .preview {
  grid-area: img;
}

.card .details {
  grid-area: dtail;
  display: grid;
  font-size: 2em;
  grid-template-columns: 2fr 1fr 2fr;
  text-align: center;
}

.card .details p {
  grid-column: 2 / 3;
}

.card-expanded .preview .react-parallax {
  height: 300px;
}

.card-collapsed .preview img {
  width: 100%;
  height: 100%;
}

.card .description {
  grid-area: desc;
  font-size: 1.5em;
  font-family: sans-serif;
  padding-left: 10px;
}

.card .carousel-wrapper {
  grid-area: car;
  width: 50%;
}

.card .carousel {
  top: -30px;
  left: 50%;
}

.card-collapsed .description,
.card-collapsed .carousel-wrapper,
.card-collapsed .details {
  display: none;
}

.card .drop-down {
  grid-area: chev;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  font-size: 3em;
}

.card .drop-down i {
  grid-row: 2 / 3;
  cursor: pointer;
}

.card .title {
  font-size: 1.5em;
  padding-left: 10px;
  grid-area: title;
}

@media only screen and (min-width: 1900px) {
  
  .card .title {
    font-size: 4em;
  }

  .card .drop-down {
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 3em;
  }

  .card-expanded {
    grid-template-areas:
      "title title chev "
      "desc  desc  chev "
      "img   img   img  "
      "dtail dtail dtail"
      "car   car   car  "
      "car   car   car  ";
  }

  .card .details {
    padding: 10px 0 10px 0;
  }
}

@media only screen and (max-width: 1220px) {

  .card {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .card .carousel-wrapper {
    width: 75%;
  }

  .card .carousel {
    left: 18.75%;
  }
}

@media only screen and (max-width: 690px) {

  .card {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .card .description {
    font-size: 1em;
  }

  .card .carousel-wrapper {
    width: 100%;
  }

  .card .carousel {
    left: 0;
  }

  .card-expanded .preview .react-parallax {
    height: 150px;
  }
}