
#wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr 1fr 2fr;
  height: 100%;
}

#name-wrapper {
  grid-column: 2 / 5;
}

#name-wrapper h1 {

  text-align: center;
  font-size: 10em;
  font-weight: 100;
  background: linear-gradient(#03e854, #00bca4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#media-wrapper {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

#media-wrapper i {
  color: #dd6e42;
  opacity: 0.6;
  font-size: 3em;
  transition: opacity 0.2s ease-in;
}

#media-wrapper i:hover {
  opacity: 1.0;
}

#portfolio-wrapper {
  grid-row: 3 / 4;
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding-top: 10%;
}

.portfolio-link i {
  font-size: 6em;
  padding: 15%;
  color: #7b679c;
  border-radius: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background: white;
  transition: color 0.2s ease-in;
}

.portfolio-link i:hover {
  color: #4a3a78;
}

@media only screen and (max-width: 1220px) {

  #name-wrapper {
    grid-column: 1 / 6;
  }
}

@media only screen and (max-width: 690px) {

  #name-wrapper {
    grid-column: 1 / 6;
  }

  #name-wrapper h1 {
    font-size: 5em;
  }
  
  .portfolio-link i {
    font-size: 4em;
  }
}