
.portfolio-scaffold {

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  color: black;
}

.header-wrapper {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: inherit;
  background-color: #444;
  border-bottom: 5px dashed rgba(0, 0, 0, 0.1);
}

.portfolio-scaffold header {
  grid-column: 2 / 3;
  display: grid;
  color: white;
  grid-template-areas:
    "icon titl titl"
    "icon desc desc";
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: auto;
}

.portfolio-scaffold .portfolio-link {
  grid-area: icon;
  padding: 5% 0 5% 0;
}

.portfolio-scaffold .portfolio-link i {
  color: black;
}

.portfolio-scaffold header h1 {
  font-size: 3em;
  padding-left: 20px;
  grid-area: titl;
}

.portfolio-scaffold header p {
  font-size: 1.2em;
  font-family: sans-serif;
  grid-area: desc;
}

.portfolio-scaffold main {
  grid-column: 2 / 3;
}

.portfolio-scaffold .card-list {

  padding-left: 0;
}

.portfolio-scaffold .card-list li {
  list-style-type: none;
  margin-top: 10px;
}

@media only screen and (max-width: 1220px) {

  .portfolio-scaffold main {
    grid-column: 1 / 4;
  }
}

@media only screen and (max-width: 690px) {
  
  .portfolio-scaffold header {
    grid-column: 1 / 4;
    grid-template-areas:
      "icon titl titl"
      "desc desc desc";
  }

  .portfolio-scaffold header h1 {
    padding-left: 20px;
  }

  .portfolio-scaffold header p {
    padding-left: 10px;
  }

  .portfolio-scaffold header p {
    font-size: 1em;
  }

  .portfolio-scaffold .portfolio-link {
    padding: 15px 0 0 0;
  }
}